services:
  backend:
    build: ./backend
    container_name: backend
    image: ankitd002/devops-assignment-2026-backend:latest
    environment:
      - MONGODB_URL=${MONGODB_URL}
      - PORT=8080
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend
    image: ankitd002/devops-assignment-2026-frontend:latest
    depends_on:
      - backend
    restart: always

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/devops-assignment.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    restart: always
