version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend
    image: ankitd002/devops-assignment-backend:latest 
    ports:
      - "8080:8080"
    environment:
      - .env
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend
    image: ankitd002/devops-assignment-frontend:latest 
    ports:
      - "4200:80"
    depends_on:
      - backend
    restart: always
