name: Build and Push to Docker Hub

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: docker compose
        run: |
          docker-compose down
          docker-compose up -d

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Backend image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          push: true
          tags: ankitd002/devops-assignment-backend:latest

      - name: Build and push Frontend image
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          push: true
          tags: ankitd002/devops-assignment-frontend:latest

  deploy:
    runs-on: self-hosted
    needs: build-and-push
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Pull images
        run: |
          docker pull ankitd002/devops-assignment-backend:latest
          docker pull ankitd002/devops-assignment-frontend:latest
      - name: docker stop
        run: |
          docker stop devops-assignment-backend
          docker stop devops-assignment-frontend

      - name: docker rm
        run: |
          docker rm devops-assignment-backend
          docker rm devops-assignment-frontend
 
      - name: docker run
        run: |
          docker run -d -p 80:80 --name devops-assignment-backend ankitd002/devops-assignment-backend:latest
          docker run -d -p 80:80 --name devops-assignment-frontend ankitd002/devops-assignment-frontend:latest

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/devops-assignment || git clone https://github.com/${{ github.repository }} ~/devops-assignment
            cd ~/devops-assignment
            git pull origin main
            docker-compose down
            export MONGODB_URL=${{ secrets.MONGODB_URL }}
            docker-compose pull
            docker-compose up -d